@tailwind base;
@tailwind components;
@tailwind utilities;
@import "frame";
@import "kit";
@import "page";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: $default_font_family;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#root {
  width: 100%;
  background-color: $bc;
}

.App {
  width: 100%;
  min-height: 100%;
  position: relative;
  max-width: 100%;
}

.main {
  position: relative;
  height: $main_height;
  width: 100%;
  margin: $header_height auto 0;
  max-width: $maxWidth;
}
