@import "../const";

.header {
  display: flex;
  z-index: 600;
  position: fixed;
  width: fit-content;
  margin: 0 auto;
  background-color: white;
  height: $header_height;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 0;
  right: 0;
  border-radius: 16px;
  transition: $transition;
  padding: 0 10px;
  gap: 0.5rem;

  button {
    border-radius: 10px;
    border: 2px solid transparent;

    &:hover {
      background-color: rgb(255, 255, 255);
      scale: 1.1;
      border-color: #ede5fa;

    }

    &:active {
      background-color: rgb(245, 245, 245);
    }
  }

  .search {
    display: flex;
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    align-items: center;
    color: #313131;
    font-family: "HarmonyOS Sans SC", sans-serif;
    position: relative;
    //background-color: rgba(236, 236, 236, 0.43);
    border-radius: 10px;
    transition: $transition;
    border: 2px solid transparent;

    &:hover {
      border-color: #ede5fa;
    }

    &:focus-within {
      background-color: rgb(255, 255, 255);
      border: 2px solid #513482;
    }

    svg {
      margin: 12px;
      width: 18px;
      height: 18px;
    }

    input {
      background-color: transparent;
      padding: 20px 0;
    }
  }
}

.outlet {
  z-index: 0;
  padding-top: $header_height;
}