@import "../const";

$border: 1px solid #f3f3f3;
$title_height: 32px;
$code_bc: rgb(245, 245, 245);
.collection_page {
  position: relative;
  height: 100%;
  display: flex;

  .subCollectionBar {
    height: 100%;
    width: 450px;
    padding: 20px;

    svg {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    div {
      font-family: light, sans-serif;
    }
  }

  .title {
    height: $title_height;
    font-size: 1.8rem;
    font-family: "HarmonyOS Sans SC", sans-serif, sans-serif;
    font-weight: normal;
    margin: 20px 0 40px 0;
  }

  .collection_abstract {
    padding: 20px;
    flex: 1;

    svg {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    position: relative;

    div {
      font-family: light, sans-serif;
    }

    .btn_group {
      position: absolute;
      width: 100%;
      bottom: 40px;
    }
  }

  .collection_bar {
    padding: 20px;
    background-color: white;
    width: 400px;
    height: 100%;
    border-right: $border;
    display: flex;
    flex-direction: column;

    .collection_btn {
      height: 48px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      margin-bottom: 5px;


      &:hover {
        background-color: rgba(240, 242, 244, 0.78);

        .right_icon {
          opacity: 1;

        }
      }

      .right_icon {
        border-radius: 10px;
        opacity: 0;
        margin: 3px;
        cursor: grab;
        padding: 3px;

        &:hover {
          background-color: #d7d7d7;
        }

      }

      .collection_name {
        flex: 1;
        padding-left: 5px;
        letter-spacing: 1px;
        text-wrap: normal;
        font-size: 1.2rem;
        font-family: light, sans-serif;
        text-transform: capitalize;
      }
    }


    .collection_list {
      flex: 1;
      overflow: scroll;
    }

  }
}

