@import "../const";

.collection_page {
  position: relative;
  overflow-y: scroll;
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }
;

  .collections {
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: all 100ms;
    padding: 20px 0;
    @media screen and (min-width: 1200px) {
      padding: 20px 100px;
    }

    .title {
      font-family: $title_font;
    }

    .grid_layout {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-top: 2rem;
      display: grid;
      gap: 1.5rem /* 24px */
    ;
      @media (min-width: 600px) {

        grid-template-columns: repeat(2, minmax(0, 1fr));

      }
      @media (min-width: 900px) {

        grid-template-columns: repeat(3, minmax(0, 1fr));

      }
      @media (min-width: 1200px) {

        grid-template-columns: repeat(4, minmax(0, 1fr));

      }
    }


    .collection_btn {
      border-radius: 10px;
      transition: all ease-in 200ms;
      height: 180px;
      position: relative;
      width: 100%;
      overflow: hidden;


      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }

      &:hover {
        &:before {
          background-color: rgb(0, 0, 0, 0.03);
          box-shadow: inset 0 0 1px 1px #626262;

        }
      }


      .name {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        font-size: 1.8rem;
        font-family: "kur", "yyys", sans-serif;

      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #e8e8e8;
        line-height: 1.5;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(100px);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
        padding: 20px;


        .description {
          box-sizing: border-box;
          overflow: hidden;
          margin-top: 15px;
          text-overflow: ellipsis;
          display: -webkit-box; //作为弹性伸缩盒子模型显示。
          -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
          -webkit-line-clamp: 5; //显示的行
          height: 120px;
          line-height: 24px;
          text-indent: 1.6rem;
          width: 100%;
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.8rem;
          text-align: justify;
        }

        .tags {
          top: 10px;
          right: 20px;
          position: absolute;

          .tag {
            font-size: 0.72rem;
            margin: 2px;
            font-family: "HarmonyOS Sans SC", sans-serif;
            color: #efefef;
            padding: 2px 6px;
            border-radius: 20px;
          }
        }

      }

      &:hover {
        .content {
          opacity: 1;
          transform: translateY(0);
        }

        .name {
          filter: blur(7px) opacity(20%);
        }

      }


    }
  }

  .timeline {
    height: 100%;
    width: 450px;
    padding: 20px;

    svg {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    div {
      font-family: light, sans-serif;
    }
  }

  .title {
    height: $title_height;
    font-size: 1.8rem;
    font-family: "HarmonyOS Sans SC", sans-serif, sans-serif;
    font-weight: normal;
    margin: 20px 0 20px 0;
  }

  .collection_abstract {
    padding: 20px;
    flex: 1;

    svg {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    position: relative;

    div {
      font-family: light, sans-serif;
    }

    .btn_group {
      position: absolute;
      width: 100%;
      bottom: 40px;
    }
  }

  .collection_bar {
    padding: 20px;
    background-color: white;
    width: 400px;
    height: 100%;
    border-right: $border;
    display: flex;
    flex-direction: column;


    .collection_list {
      flex: 1;
      display: block;
      overflow-y: scroll;
    }

  }
}